#include <ntdef.h>
#include <winver.h>

#ifdef RC_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef DBG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Ksyun"
            VALUE "FileDescription", "Cloud Gaming Virtual HID Driver"
            VALUE "FileVersion", "1.0.1.1"
            VALUE "InternalName", "cgvhid"
            VALUE "LegalCopyright", "Copyright (C) 2020"
            VALUE "OriginalFilename", "cgvhid"
            VALUE "ProductName", "Regame - Cloud Gaming Engine"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

#endif
